

@import '../sass_component/variables';
@import '../sass_component/introduction';
@import '../sass_component/skills';
@import '../sass_component/portfolio';
@import '../sass_component/collaborate';




body{
    background-color: $black;
    font-family: "Varela", Times, serif;

}

.cta-button{
  background: none;
  color: white;
  padding: 10px;
  width: 70%;
  background-color: cornflowerblue;
  border-style: hidden;
  font-weight: 900;
  font-size: 20px;
  transition: 0.3s;
}

.cta-button:hover{
  color: cornflowerblue;
  background-color: white;

}

.section{
}

.left{
    float: left;
}

.operator{
    color: $primary;
}


ul{
    display: none;
}

.rightAlign{
    margin-left: auto;
    margin-right: 0;
}

.hide{
    display: none;
}



