

@import '../sass_component/variables';
@import '../sass_component/introduction';
@import '../sass_component/skills';
@import '../sass_component/portfolio';




body{
    background-color: pink;
    font-family: "Varela", Times, serif;

}



.left{
    float: left;
}

.operator{
    color: $primary;
}



.sec-portfolio{
    background-color: $black;
}

ul{
    display: none;
}






