.footer-bg{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.footer-txt{
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-weight: 700;
  color: $primary;
}

.sec-portfolio{
  background-color: $black;



  .icon-area{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    .logo{
      align-self: center;
      margin-left: auto;
      margin-right: auto;

      @include device(phone){
        width: 100px;

      }

      @include device(tablet-portrait){
        width: 150px;

      }

      @include device(tablet-landscape){
        width: 150px;

      }

      @include device(desktop){
        width: 200px;

      }
    }





  }

}