canvas{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.sec-skills{
  background-color: $primary;

  .skill-grid{
    display: grid;



    width: 100%;
    height: 100%;
    .skill-box{
      background-color: transparent;
      opacity: 0.5;
      padding: 20px;

      color: white;

      .operator{
        color: #84ff9c;
      }

      .skilllist{
        .skill{
          margin: 0px;
          padding-left: 50px;
        }
      }



    }
    @include device(phone){
      grid-template-areas:
              "skill-top-left"
              "skill-top-right"
              "skill-bot-left"
              "skill-bot-right";

      .skill-box{
        font-size: 15px;

      }

    }

    @include device(tablet-portrait){
      grid-template-areas:
              "skill-top-left"
              "skill-top-right"
              "skill-bot-left"
              "skill-bot-right";

    }

    @include device(tablet-landscape){
      grid-template-areas:
              "skill-top-left"
              "skill-top-right"
              "skill-bot-left"
              "skill-bot-right";

    }

    @include device(desktop){
      grid-template-areas:
              "skill-top-left .  skill-top-right"
              ". skill-center  ."
              "skill-bot-left . skill-bot-right";

      .skill-box{
        font-size: 35px;
      }

      .skill-bot-right{
        align-self: end;
        margin-left: auto;
        margin-right: 0;
      }

      .skill-top-right{
        margin-left: auto;
        margin-right: 0;
      }

      .skill-bot-left{
        align-self: end;
      }
    }

    .skill-top-left{
      grid-area: skill-top-left;
    }


    .skill-top-right{
      grid-area: skill-top-right;
    }


    .skill-bot-left{
      grid-area: skill-bot-left;
    }


    .skill-bot-right{
      grid-area: skill-bot-right;
    }

    .skill-center{
      grid-area: skill-center;
      align-self: center;
      margin: auto;
      width: 50%;
    }





    .center-skill-box{
      background-color: $primary;
    }
  }


}

.skillTitle{
  margin:0px;
}